<div class="notification-commands row">
    <button type="button" class="btn btn-secondary col-sm-2 offset-sm-7 read-btn" (click)="readAll()">Mark all as read</button>            
</div>
<div *ngFor="let item of notifService.notifications" class="row">
    <div (click)="readOne(item)" class="notification-item col-8 offset-1" [ngClass]="{ 'error' : item.type == 'Error', 'warning' : item.type == 'Warning', 
                                                            'success' : item.type == 'Success', 'info' : item.type == 'Info', 'notifRead' : item.isRead}">
        <p><i class="fa fa-lg" [ngClass]="{ 'fa-times' : item.type == 'Error', 'fa-exclamation-triangle' : item.type == 'Warning', 
            'fa-check' : item.type == 'Success', 'fa-info-circle' : item.type == 'Info'}"></i>{{item.description}}<span class="float-right">{{item.timestamp}}</span></p>
    </div>
    
</div>